<!-- <!DOCTYPE html>
<html lang="en">
<head>

    <title>Update Details</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <div class="container my-3">
        <h1>Enter Details for Updation </h1>
        <form action="/update_doc_info" method="post" >

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Update Doctor Name</h5>
                <div class="form-group" style="margin-bottom: 20px;">
                    <input type="text" class="form-control" id="docName" rows="1"/>
                </div>

<!--                <h5 class="card-title">Enter Doctor Email-ID</h5>-->
<!--                <div class="form-group" style="margin-bottom: 20px;">-->
<!--                    <input type="email" class="form-control" id="docEmail" name="docEmail"/>-->
<!--                </div>-->

                <h5 class="card-title">Update Doctor Speciality</h5>
                <div class="form-group" style="margin-bottom: 20px;">

                      <select name="docSpeciality" id="docSpeciality" class="form-control">
                      <option value="General">General</option>
                      <option value="Physician">Physician</option>
                      <option value="Dentist">Dentist</option>
                      <option value="Obstetrician">Obstetrician</option>
                      <option value="Opthalmologist">Opthalmologist</option>
                      <option value="ENT">ENT</option>
                      <option value="Cardiologist">Cardiologist</option>
                      <option value="Psychiatrist">Psychiatrist</option>
                      <option value="Homeopath">Homeopath</option>
                      <option value="Ayurveda">Ayurveda</option>
                      </select>
                </div>

                <h5 class="card-title">Update Doctor Hospital ID</h5>
                <div class="form-group" style="margin-bottom: 20px;">
                    <input type="text" class="form-control" id="hosp_id"name="hosp_id"/>
                </div>

                <h5 class="card-title">Update Doctor Phone Number</h5>
                <div class="form-group" style="margin-bottom: 20px;">
                    <input type="number" class="form-control" id="docPhone"name="docPhone"/>
                </div>

                <h5 class="card-title">Update Doctor Address</h5>
                <div class="form-group" style="margin-bottom: 20px;">
                  <input ype="text" class="form-control" id="docAddress" name="docAddress" rows="3">
                </div>



<!--                <h5 class="card-title">Enter Unique ID of Doctor</h5>-->
<!--                <div class="form-group" style="margin-bottom: 20px;">-->
<!--                    <input type="text" class="form-control" id="docUserName" name="docUserName"/>-->
<!--                </div>-->

<!--                <h5 class="card-title">Enter Password</h5>-->
<!--                <div class="form-group" style="margin-bottom: 20px;">-->
<!--                    <input type="password" class="form-control" id="docPassword" name="docPassword"/>-->
<!--                </div>-->

<!--                <h5 class="card-title">Confirm Password</h5>-->
<!--                <div class="form-group" style="margin-bottom: 20px;">-->
<!--                  <input type="password" class="form-control" id="docPasswordRepeat" name="docPasswordRepeat"/>-->
<!--                </div>-->


                <button class="btn btn-primary" id="docRegBtn">Update</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>

    <title>Update Details</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


{{docName}}
<a href="/update_doctors" type="button" class="regUpdBtn" id="regUpdBtn">Complete/Update Doctor Registration</a>
</body>
</html>
