<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        a{
            width: 150px;
        }
    </style>
</head>
<body>
    <center>
        <h1 style="color: white;">HealthCare Portal</h1> <br> <br>
    <a href="/hospRegisterInitial" class="logOutBtn">Hospital Register</a> <br> <br>
    <a href="/hospLogin" class="logOutBtn">Hospital Login</a> <br> <br>
    <a href="/doctor_reg" class="logOutBtn">Doctor Registration</a> <br> <br>
    <a href="/doctor_login" class="logOutBtn">Doctor Login</a> <br> <br>
    <a href="/user" class="logOutBtn">User</a> <br> <br>
    <a href="/appointments" class="logOutBtn">Appointments</a> <br> <br>
    </center>
</body>
</html>
