<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Surgery Details</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>




    {% if hospSurgeryDetails|length == 0 %}

    <h1>This Hospital Does not provide Surgery Services..Sorry for the incovenience</h1>
    {% else %}



    <div class="selectionContainer">
    <div class="selectSurgery">
      <h4>Surgeries Available at this Hospital</h4> <br>
      {% if hospSurgeryDetails[0][1]==1 %}
      Heart Surgery Avialable
      {% else %}
      Heart Surgery Not Avialable
      {% endif %}
<br><br>
      {% if hospSurgeryDetails[0][2]==1 %}
      Joint Surgery Avialable
      {% else %}
      Joint Surgery Not Avialable
      {% endif %}
<br><br>
      {% if hospSurgeryDetails[0][3]==1 %}
      Abdominal Surgery Avialable
      {% else %}
      Abdominal Surgery Avialable
      {% endif %}

    </div>
    </div>
  {% endif %}



    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
