<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Ambulance</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <a class="navbar-brand" href="#">Update Ambulance Details</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/hospAfterLogin">Hospital Home<span class="sr-only"></span></a>
                        </li>
                    </ul>
                </div>
              </nav>
              <br>
    <div class="container my-3">
  <h1>{{ hospName }}</h1> 
  <form method="post" action="/updateAmbulance">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Enter Number of Ambulances</h5>
            <div class="form-group" style="margin-bottom: 20px;">
                <input type="number" placeholder="{{hospAmbulanceDetails[0][1]}}" name="amb" id="amb"></div>
                <!-- <label for="amb">Number of Ambulance</label> -->
                <button class="btn btn-primary" type="submit">Update</button>
        </div></div>
  </form></div>

  <br><br>
  

</body>
</html>