<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood</title>
</head>
<body>

<form method="post" action="/update_blood">
    <input name="ap" id="ap" placeholder="A+" type="number">
    <input name="an" id="an" placeholder="A-" type="number">
    <input name="bp" id="bp" placeholder="B+" type="number">
    <input name="bn" id="bn" placeholder="B-" type="number">
    <input name="abp" id="abp" placeholder="AB+" type="number">
    <input name="abn" id="abn" placeholder="AB-" type="number">
    <input name="op" id="op" placeholder="O+" type="number">
    <input name="on" id="on" placeholder="O-" type="number">
    <input type="submit" value="Update">
</form>

</body>
</html>