<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beds</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Update Bed Details</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/hospAfterLogin">Hospital Home<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
  </nav>
  <br>
  <h1>{{ hospName }}</h1> <br>

  {% if hospBedsDetails|length == 0 %}

  <h2>Your Hospital Does Not Provide Bed Services...Please Click on Add Hospital to enroll the hospital</h2>

  <form action="/addBeds" method="POST">
     <button class="btn btn-primary" id="hospBedsAddBtn" style="margin-left: 640px; margin-top: 40px;">Add Hospital</button>
 </form>

 {% else %}
  <h2>Beds Status</h2> <br>

  <form method="post" action="/updateBeds">
  <input type="number" placeholder="{{ hospBedsDetails[0][1] }}" name="bed" id="bed">
  <input type="submit" value="Update">
  {% endif %}

  <div class="buttonContainer">
    <div class="innerDiv">
      <a href='/hospAfterLogin' type="button" class="hospHomeBtn">Go to Home</a>
    </div>
</div>

</form>
</body>
</html>