<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Index</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="#">User's Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/user_logout">Logout<span class="sr-only"></span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/show_appointments">Book Appointments<span class="sr-only"></span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/appointment_notifications">Appointment Notifications<span class="sr-only"></span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Vaccine Notifications<span class="sr-only"></span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/chat">Chat<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container my-3">
        <h1>Update Values</h1>
<form method="post" action="{{ url_for('update') }}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Enter Address</h5>
            <div class="form-group" style="margin-bottom: 20px;">
                <input type="text" name="add" placeholder="Address" style="width: 100%;">
            </div>
        <h5 class="card-title">Enter Phone Number</h5>
        <div class="form-group" style="margin-bottom: 20px;">
            <input type="number" name="phno" placeholder="Phone Number" style="width: 100%;">
        </div>
        <h5 class="card-title">Enter Date of Birth</h5>
        <div class="form-group" style="margin-bottom: 20px;">
            <input type="date" name="dob" placeholder="Date of Birth" style="width: 100%;">
        </div>

        <button class="btn btn-primary" type="submit">Update</button>
        </div></div>
</form></div>
<div class="container my-3">
    <h1>Profile</h1>
    <div class="card">
        <h5 class="card-title">Userid: {{ session.UserId }}</h5><br>
        <h5 class="card-title">Name: {{ session.Name }}</h5><br>
        <h5 class="card-title">Address: {{ session.Address }}</h5><br>
        <h5 class="card-title">Phone Number: {{ session.Phone }}<br></h5><br>
        <h5 class="card-title">Date of Birth: {{ session.DOB }}<br></h5><br>
</div></div>
<div class="container my-3">
<form action="{{ url_for('logout') }}">
    <button class="btn btn-primary" type="submit">Logout</button>
</form></div>
    
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="submit" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Search hospital by facilities
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/search_oxygen">COVID-19 Oxygen Status</a></li>
            <li><a class="dropdown-item" href="/search_surgery">Surgery and Emergency</a></li>
            <li><a class="dropdown-item" href="/search_beds">COVID-19 Beds</a></li>
            <li><a class="dropdown-item" href="/search_blood">Blood Donation</a></li>
            <li><a class="dropdown-item" href="/search_ambulance">Ambulance Details</a></li>
      </ul>
    </div>



<a href="/vaccine_book">vaccine</a>


</body>
</html>
